@model IEnumerable<VetAppointment.Models.Appointment>

@{
    ViewData["Title"] = "Dostępne terminy";
}

<h1>Dostępne terminy</h1>

<p>
    @*<div class="form-group">
            <input id="fromdate" type="datetime-local" name="FromDate" />
        </div>*@
    <a asp-action="AddDate">Dodaj nowy termin</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.Date)
            </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.Available)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>*@

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @using (Html.BeginForm("Delete", "Appointment", new { id = item.AppointmentID }))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Available)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>*@
                    <td>
                        @*<a asp-action="Edit" asp-route-id="@item.AppointmentID">Edit</a> |*@
                        @*<a asp-action="Details" asp-route-id="@item.AppointmentID">Details</a> |*@
                        @*<a asp-action="Delete" asp-route-id="@item.AppointmentID">Usuń</a>*@


                        <button type="submit" class="btn btn-outline-danger">Usuń</button>

                    </td>
                </tr>
            }
        }
    </tbody>
</table>
