@model VetAppointment.Models.Message

@{
    ViewData["Title"] = "Display";
}

<div>
    <h4>Wiadomość</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Od:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sender.Name) @Html.DisplayFor(model => model.Sender.Surname) [@Html.DisplayFor(model => model.Sender.Email)]
        </dd>
        <dt class="col-sm-2">
            Do:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Receiver.Name) @Html.DisplayFor(model => model.Receiver.Surname) [@Html.DisplayFor(model => model.Receiver.Email)]
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Topic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Topic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MessageBody)
        </dt>
        <dd class="col-sm-10">
            <textarea asp-for="MessageBody" class="form-control" rows="10" cols="20" text-wrap:normal" type="text" readonly="readonly"></textarea>
            @*@Html.DisplayFor(model => model.Description)*@
        </dd>
        <dt class="col-sm-2">
            Wysłano:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Create" class="btn btn-success" asp-route-id="@Model.MessageID">Odpowiedz</a>*@ 
    <a class="btn btn-info" asp-action="Index" >Powrót</a>
</div>
